{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}

{%- assign _WALINE_PLACEHOLDER = site.comments.waline.placeholder -%}
{%- assign _WALINE_VISITOR = site.comments.waline.visitor -%}
{%- assign _WALINE_META = site.comments.waline.meta -%}
{%- assign _WALINE_SERVERURL = site.comments.waline.serverURL -%}


{%- if _WALINE_SERVERURL -%}

<div id="wcomments"></div>
<link href='//cdn.jsdelivr.net/npm/@waline/client/dist/waline.css' rel='stylesheet' />
<style type="text/css" >
  :root{
    --waline-theme-color: #7cc7bb;
    --waline-active-color: #4dc3ad;
  }
  .wl-emoji {
    font-size: 3em;
  }
  .wl-card .wl-content {
    font-size: 1.2em;
  }
  .wl-user {
    width: 2.8em;
  }
</style>

<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

  init({
    el: '#wcomments',
    serverURL: '{{ _WALINE_SERVERURL }}',
    emoji: [
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq',
        'https://cdn.jsdelivr.net/gh/Real-king-Ph/emoji/hoyo_emoji',
        'https://unpkg.com/@waline/emojis@1.2.0/tw-emoji'
      ],
    imageUploader: false,
    pageview: true,
  });
</script>

{%- endif -%}
